<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "/users/index.css" %>
  </head>

  <body>
    <div class="container">
        <ul class="user-list">
            <li>
                <div class="profile-photo">
                <p>photo</p>
                </div>

                <div class="user-details">
                    <h3>User Name</h3>
                    <p>Number of post: x</p>
                </div>
            </li>
            <li>
                <div class="profile-photo">
                <p>photo</p>
                </div>

                <div class="user-details">
                    <h3>User Name</h3>
                    <p>Number of post: x</p>
                </div>
            </li>
        </ul>
    </div>
  </body>
</html>