<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp User Details</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="container">
        <div class="user-info">
            <div class="profile-photo">
            <p>photo</p>
            </div>

            <div class="user-details">
                <h3>User Name</h3>
                <p>Number of post: x</p>
            </div>
        </div>

        <div class="bio">
        <h3>Bio</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper lacus eu nibh hendrerit, a rhoncus magna vulputate. Sed vel dolor porttitor felis aliquam tincidunt. Sed nibh orci, dictum sit amet sodales ac, pharetra in augue. Donec rhoncus vehicula magna. Sed laoreet fermentum tincidunt. Curabitur semper elit ac dui commodo, sed lobortis urna varius. Nulla risus neque, euismod ut ante ut, scelerisque luctus leo. Fusce congue dui at eros porta lacinia.
        </div>

        <ul class="post-list">
          <li>
            <h3>Post #1</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper lacus eu nibh hendrerit, a rhoncus magna vulputate.
            </p>
            <p class='likes-coomments'>Comments: x, Likes:x</p>
          </li>
          <li>
            <h3>Post #2</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper lacus eu nibh hendrerit, a rhoncus magna vulputate.
            </p>
            <p class='likes-coomments'>Comments: x, Likes:x</p>
          </li>
          <li>
            <h3>Post #3</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper lacus eu nibh hendrerit, a rhoncus magna vulputate.
            </p>
            <p class='likes-coomments'>Comments: x, Likes:x</p>
          </li>
        </ul>
        <button class="all-posts">See all posts</button>
    </div>
  </body>
</html>