<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="container">
        <div class="user-info">
            <div class="profile-photo">
            <p>photo</p>
            </div>

            <div class="user-details">
                <h3>User Name</h3>
                <p>Number of post: x</p>
            </div>
        </div>

        <ul class="posts">

          <li class="post">
            <div>
              <h3>Post #1</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper lacus eu nibh hendrerit, a rhoncus magna vulputate.
              </p>
              <p class='likes-coomments'>Comments: x, Likes:x</p>
            </div>
            <div class="comments">
                <ul class="commens-list">
                    <li>
                        <p>Username: comment1</p>
                    </li>
                    <li>
                        <p>Username: comment2</p>
                    </li>
                    <li>
                        <p>Username: comment3</p>
                    </li>
                    <li>
                        <p>Username: comment4</p>
                    </li>
                    <li>
                        <p>Username: comment5</p>
                    </li>
                </ul>
            </div>
          </li>

          <li class="post">
            <div>
              <h3>Post #2</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper lacus eu nibh hendrerit, a rhoncus magna vulputate.
              </p>
              <p class='likes-coomments'>Comments: x, Likes:x</p>
            </div>
            <div class="comments">
                <ul class="commens-list">
                    <li>
                        <p>Username: comment1</p>
                    </li>
                    <li>
                        <p>Username: comment2</p>
                    </li>
                    <li>
                        <p>Username: comment3</p>
                    </li>
                    <li>
                        <p>Username: comment4</p>
                    </li>
                    <li>
                        <p>Username: comment5</p>
                    </li>
                </ul>
            </div>
          </li>
        </ul>
        <button class="all-posts">Pagination</button>
    </div>
  </body>
</html>