<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "/users/posts.css" %>
  </head>

  <body>
    <h1>New Post</h1>
  </body>
</html>