.pos > .post-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid black 2px;
  padding: 10px;
  margin-bottom: 2px;
  position: relative;
}

.post-info > div {
  display: flex;
  justify-content: space-between;
}

.likes-comments {
  font-size: small;
}

.comments {
  width: 100%;
  border: solid black 2px;
  padding: 10px;
}

.commens-list {
  list-style-type: none;
}

.like_button {
  position: absolute;
  bottom: 15px;
  right: 5px;
}