* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  padding: 50px 10px 0 10px;
}

.user-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.user-list li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  border: solid black 2px;
}

.user-details {
  margin-left: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: solid black 2px;
}

.user-details p {
  align-self: flex-end;
}
